.page {
  height: 100vh;
  width: 100%;
  background: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 50px;
  height: 80%;
  width: 40%;
  background: #ffffff;
}

.textInput {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 0px;
  box-shadow: 0 5px 15px #0003;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  background-color: var(--info-color);
}
